<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374540538558-c9amlnhibm95p3vpga0qo795kcidom1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374540538558-c9amlnhibm95p3vpga0qo795kcidom1h</string>
	<key>API_KEY</key>
	<string>AIzaSyAiTDDywZON7d2uolFZKosKvlPmmw8eYK4</string>
	<key>GCM_SENDER_ID</key>
	<string>374540538558</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>DK.Test</string>
	<key>PROJECT_ID</key>
	<string>test-5319f</string>
	<key>STORAGE_BUCKET</key>
	<string>test-5319f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374540538558:ios:8b4d92af29d71f91c044ef</string>
</dict>
</plist>